# ---- Blockchain connection ----
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/xxxxxxxxxx
ORACLE_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_ADMIN_ADDRESS=0xA2B131c9ea1xxxxxxxxxxxxxxxxx

# ---- Contract addresses ----
VALIDATION_ADDRESS=0xA2B131c9ea1xxxxxxxxxxxxxxxxx
ESCROW_ADDRESS=xxxxxxxxxx............


# # Dummy addresses for local simulation
# DUMMY_VALIDATION_ADDRESS= 0xaAE7160F1B5229eB16fDb9Fa6cAC86b6B2D07cF3
# DUMMY_ESCROW_ADDRESS=0xB1098FA7770F096CfE2a15cDF02c088717ff3DBA

# ---- Optional custom ABIs ----
# ENERGY_VALIDATION_ABI_PATH=./artifacts/contracts/EnergyValidation.sol/EnergyValidation.json
# ESCROW_PAYMENT_ABI_PATH=./artifacts/contracts/EscrowPayment.sol/EscrowPayment.json

# ---- Server ----
PORT=4000
